<%- include('../includes/head') %>

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('../includes/navigation') %>
  

  <section class="section">
    <div class="pt-3" >
        <% if(errorMessage) {%>
            <small class="text-danger"><%= errorMessage %></small>
            <%}%>
        <!-- Change Password Form -->
        <form action="/admin/change-password" method="post" novalidate>
         
          <div class="row mb-3 needs-validation" >
            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
            <div class="col-md-8 col-lg-9">
              <input 
              name="currentPassword" 
              type="password" 
              class="form-control <%= validationErrors.find(e=>e.param =='currentPassword')?'invalid':''%>" 
              id="currentPassword" placeholder="enter your current password ..."
              value="<% passwords.currentPassword %>">
             
            </div>
          </div>

          <div class="row mb-3">
            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
            <div class="col-md-8 col-lg-9">
              <input 
              name="newpassword" 
              type="password" 
              class="form-control <%= validationErrors.find(e=>e.param =='newpassword')?'invalid':''%>" 
              id="newPassword" placeholder="enter your news password ..."
              value="<% passwords.newPassword %>">
            </div>
          </div>

          <div class="row mb-3">
            <label for="comfirmPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
            <div class="col-md-8 col-lg-9">
              <input 
              name="comfirmPassword" 
              type="password" 
              class="form-control <%= validationErrors.find(e=>e.param =='comfirmPassword')?'invalid':''%>" 
              id="comfirmPassword" placeholder="enter your re-enter new password ..."
              value="<% passwords.comfirmPassword %>">
            </div>
          </div>

          <div class="text-center">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </form><!-- End Change Password Form -->

      </div>
  </section>

  <%- include('../includes/foot') %>
  <%- include('../includes/footer') %>