
  <%- include('../includes/head') %>
  </head>
  <body>
 

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            
            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create account</p>
                </div>
                <% if(errorMessage) {%>
                  <small class="text-danger"><%= errorMessage %></small>
                  <%}%>
                <form class="row g-3  needs-validation" action="/admin/register" method="post" novalidate>
                  <div class="col-12 invalid-error">
                    <label for="yourName" class="form-label">Your Name</label>
                    <input 
                    type="text" 
                    name="username" 
                    class="form-control <%= validationError.find(e=>e.param=='username')?'invalid':'' %>" 
                    id="yourName" 
                    required 
                    value="<%= oldInput.username %>">
                    
                  </div>

                  <div class="col-12 invalid-error">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input 
                    type="email" 
                    name="email" 
                    class="form-control <%= validationError.find(e=>e.param=='email')?'invalid':'' %>" 
                    id="yourEmail" required 
                    value="<%= oldInput.email %>">
                    <!-- <div class="invalid-feedback">Please enter a valid Email adddress!</div> -->
                  </div>

                  
                  <div class="col-12 invalid-error">
                      <label for="yourPassword" class="form-label"> Password</label>
                      <input
                       type="password" 
                       name="password" 
                       class="form-control <%= validationError.find(e=>e.param=='password')?'invalid':'' %>" 
                       id="yourPassword" required 
                       value="<%= oldInput.password %>">
                      <!-- <div class="invalid-feedback">Please enter  password!</div> -->
                    </div>
                    
                    <div class="col-12 invalid-error">
                      <label for="comfirmPassword" class="form-label">Confirm Password</label>
                      <input
                       type="password"
                        name="comfirmPassword" 
                        class="form-control <%= validationError.find(e=>e.param=='comfirmPassword')?'invalid':'' %>" 
                        id="comfirmPassword " 
                        required 
                        value="<%= oldInput.comfirmPassword %>">
                      <!-- <div class="invalid-feedback">Please enter confirm  password!</div> -->
                    </div>

                  <!-- <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Already have an account? <a href="/admin/login">Log in</a></p>
                  </div>
                </form>

              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Designed by Ohnmar
              <p class="text-center">v1.0.0</p>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>

  
  <%- include('../includes/footer') %>